*{
    margin: 0;
}
header, footer{
    background-color: #1f2937;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
h4{
    font-size: 18px;
    color: #e5e7eb;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
button{
    background-color:#3882F6 ;
}
.call-to-action{
    background-color: #3882F6;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.quote{
    background-color: #E5E7EB;

}
.text{
    font-size: 36px;
    font-weight: lighter;
    font-family: italic,sans-serif;
    color: #1F2937;
}
header{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    justify-content: flex-start;
}
.links{
    margin-left: auto;
    gap: 10px;
    font-size: 20px;
    font-weight: lighter;
    color: #f9faf8;
}
.header-img{
    height: 70px;
    width: auto;
}
.header-main{
    display: flex;
}